@import './theme.scss';

.close {
  font-size: 18px;
  margin-right: 10px;
  margin-top: 6px;
  margin-left: 5px;
  float: right;
  color: #fff;
  cursor: pointer;
}

.icon_header {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
  font-size: 20px;
  margin-right: 5px;
}

::ng-deep .mat-dialog-content {
  overflow: auto !important;
  max-height: calc(100% - 112px) !important;
  height: calc(100% - 112px) !important;
  padding: 24px !important;
}

::ng-deep .mat-dialog-title {
  text-align: center !important;
  margin-left: -24px !important;
  margin-right: -24px !important;
  margin-top: -24px !important;
  margin-bottom: 0px !important;
  padding: 6px 0px !important;
  background-color: $primary_transparent_bg !important;
}

::ng-deep .mat-dialog-actions {
  margin: 0px -24px -24px !important;
  background: rgba(255, 255, 255, 0.8) !important;
  padding: 8px 15px !important;
  min-height: 40px !important;
  display: block !important;
}

p,
span,
div {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

.example-container span>* {
  width: 100%;
}
