<h1 mat-dialog-title style="    text-align: center;margin-left: -24px;
margin-right: -24px;
margin-top: 45px;
margin-bottom: 0px;background-color: white;" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>

  <svg x="0px" y="0px" viewBox="0 0 28.1 28.1"
    style="height: 25px;width: 25px;float: left; margin-left: 10px;margin-top: 5px;padding: 5px;">

    <path id="help-circle" class="primaryColorFill" d="M18.4,13l-1.3,1.3c-1.2,1-1.8,2.5-1.6,4h-2.8v-0.7c0-1.5,0.6-2.9,1.6-4l1.7-1.8
c0.5-0.5,0.8-1.2,0.8-2c0-1.6-1.3-2.8-2.9-2.8c-1.5,0-2.7,1.2-2.8,2.8H8.4c0-3.1,2.5-5.6,5.6-5.6s5.6,2.5,5.6,5.6
C19.7,11,19.2,12.2,18.4,13 M15.5,23.9h-2.8v-2.8h2.8 M14.1,0C6.3,0,0,6.3,0,14.1c0,7.8,6.3,14.1,14.1,14.1s14.1-6.3,14.1-14.1
c0,0,0,0,0,0C28.1,6.3,21.8,0,14.1,0z" />
  </svg>


  <span class="bold primaryColor " style="font-size: 17px;" *ngIf="environment.nom">
    {{ environment.nom  }}
  </span>


  <em (click)="onNoClick()" class="fa fa-times primaryColor pointer close" style="opacity: 1;
      font-size: 18px;;margin-right: 10px;margin-top: 6px;"></em>
</h1>


<mat-dialog-content style="background:rgba(255, 255, 255, 0.8);padding: 34px;">

  <div class="example-container text_infos" style="text-align:justify;background-color: #fff; width: 600px;">
    <p style="color: rgba(0, 0, 0, 0.7);font-style: italic;">
      {{ 'updatebd' | translate }} {{lastSaturday.format("dddd DD-MM-YYYY ")}}, 23h50
    </p>
    <div>
      <p>
        {{ 'infos.p1' | translate }}
      </p>
    </div>

    <div>
      <ul style="text-align: left;">

        <li> {{ 'infos.p2' | translate }}
          <a href="https://github.com/GeOsmFamily/geosm-frontend/issues" target="_blank">
            https://github.com/GeOsmFamily/geosm-frontend/issues </a>
        </li>

        <li>
          {{ 'infos.p3' | translate }}
          <a href="mailto:infos@geo.sm" target="_blank">E-mail</a> ; <a href="https://www.facebook.com/GeOsm.Family"
            target="_blank">Facebook</a>; <a href="https://twitter.com/GeOsm_Family" target="_blank">Twitter</a>
          ;<a href="https://api.whatsapp.com/send?phone=694698607&text=" target="_blank">Whatsapp</a>


        </li>


      </ul>

    </div>

  </div>





  <div class="text-center" style="margin-top:20px">
    <div style="width: 150px;height: initial;margin: 0 auto;cursor: pointer;"
      (click)="openUrl('https://www.openstreetmap.org/')">
      <a href="https://www.openstreetmap.org/" target="_blank" class="a_link">
        <img width="100" style="cursor: pointer;"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Openstreetmap_logo.svg/1200px-Openstreetmap_logo.svg.png"
          alt="" srcset="">

      </a>
    </div>

  </div>

</mat-dialog-content>
