@import '../../../styles/modal.scss';

.text_infos {
  text-align: justify;
  background-color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
  padding: 10px;
  font: 500 15px/32px Roboto, "Helvetica Neue", sans-serif !important;
}
