<div cdkDropList style="padding-bottom: 20px;" (cdkDropListDropped)="drop($event)">
  <div *ngFor="let layer of layersInToc " cdkDrag cdkDragLockAxis="y">
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    <mat-card class="table-of-contents-card">

      <mat-chip-list style="position: absolute;top: -10px;left: 5px;" *ngIf="layer.badge">
        <mat-chip style="padding: 5px 5px;min-height: 20px;font-size: 11px;" class="white"
          [ngStyle]="{'background': layer.badge.bgColor}">
          {{layer.badge.text}}
        </mat-chip>
      </mat-chip-list>

      <mat-chip-list style="position: absolute;top: -10px;left: 5px;" *ngIf="layer.nom==='Mapillary'">
        <mat-chip style="padding: 5px 5px;min-height: 20px;font-size: 11px;" class="white"
          [ngStyle]="{'background': '#34ac6c'}">
          {{layer.nom}}
        </mat-chip>
      </mat-chip-list>

      <div mat-card-image class="table-of-contents-card-img">
        <img [src]="layer.image" [alt]="layer.nom">

      </div>

      <mat-card-content>

        <p>
          <em class="fa fa-info-circle pointer primaryColor"
            *ngIf="layer.activeLayers.metadata && layer.nom !=='Mapillary'"
            matTooltip="{{ 'couche_en_cours.information_couche' | translate }}"
            style="margin-right: 10px;font-size: 17px;" (click)="openMetadata(layer)"></em>
          <em class="fa fa-share-alt pointer primaryColor" *ngIf="layer.activeLayers.share && layer.nom !=='Mapillary'"
            (click)="shareLayer(layer)" matTooltip="{{ 'couche_en_cours.partager_couche' | translate }}"
            style="margin-right: 10px;font-size: 15px;"></em>
          <em class="fa fa-trash pointer " (click)="removeLayer(layer)"
            matTooltip="{{ 'couche_en_cours.supprimer_couche' | translate }}"
            style="font-size: 15px;color: rgb(242, 79, 79);"></em>
        </p>

        <mat-slider *ngIf="layer.activeLayers.opacity" (change)="setOpactiyOfLayer($event,layer)" style="width: 100%;"
          [max]="100" [min]="0" color="primary" [thumbLabel]="true" [value]="layer.layer.getOpacity()*100"></mat-slider>

      </mat-card-content>
      <mat-card-actions>
        <mat-checkbox labelPosition="after" color="primary" [(ngModel)]="layer.visible"
          (change)="setVisibleOfLayer($event,layer)">
          {{layer.nom}}
        </mat-checkbox>
      </mat-card-actions>

    </mat-card>
  </div>
</div>

<div class="table-of-contents-footer  primaryColorBG white">

  <div fxLayout="row" style="height: 100%;">

    <div fxFlex="50%" style="padding: 5px;" matTooltip="{{ 'couche_en_cours.tout_partager_toolpit' | translate }}"
      class="pointer" (click)="shareAllLayersInToc()">
      <div class="text-center" style="height: 50%;">
        <em class="fa fa-share-alt  white" style="font-size: 15px;"></em>
      </div>
      <div class="text-center" style="height: 50%;font-size: 12px;">
        {{ 'couche_en_cours.tout_partager' | translate }}
      </div>
    </div>

    <div fxFlex="50%" style="padding: 5px;" class="pointer" (click)="clearMap()">
      <div class="text-center" style="height: 50%;">
        <em class="fa fa-trash pointer white" style="font-size: 15px;"></em>
      </div>
      <div class="text-center" style="height: 50%;font-size: 12px;">
        {{ 'couche_en_cours.tout_supprimer' | translate }}
      </div>
    </div>

  </div>
</div>
