<mat-list-option [matTooltip]="couche!.nom" matTooltipClass="couche-toolipt" matTooltipPosition="right"
  [disabled]="disabled_couche(couche!)" [value]="couche" [selected]="couche!.check">
  <img class="couche-img" src="{{ url_prefix + couche!.logo_src }}" mat-list-icon *ngIf="couche!.logo_src !== null"
    alt="" />
  <img class="couche-img" src="{{ url_prefix + couche!.img }}" mat-list-icon *ngIf="couche!.logo_src === null" alt="" />

  <div mat-line class="couche-title">{{ couche!.nom }}</div>
</mat-list-option>
