.list-group-carte-sous-cartes-tilte {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px;
  margin-left: -6px;
  width: 95%;
  border-radius: 0px 15px 15px 0px;
  text-align: center;
  display: flow-root;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

.list-group-carte-carte {
  padding: 0px 10px;
}
