<div class="text-center black" style="padding: 0px 10px;">

  <div>
    <mat-form-field style="width: 90%;">
      <input matInput name="carte_titre" [(ngModel)]="titre"
        placeholder="{{ 'right_menu.tools.print.title_pdf' | translate }}">
    </mat-form-field>

    <mat-form-field style="width: 90%;">
      <textarea matInput name="carte_description" [(ngModel)]="description"
        placeholder="{{ 'right_menu.tools.print.description_pdf' | translate }}"></textarea>
    </mat-form-field>
  </div>
  <button style="height: 52px;width: 52px;text-align:center;margin-bottom: 10px;" class="primary_transparent_bg"
    matTooltip="{{ 'right_menu.tools.print.toolpit_print' | translate }}" mat-mini-fab (click)="printMap()">

    <svg style="margin-bottom: 2px;height: 20px;" x="0px" y="0px" viewBox="0 0 25.1 22.9">

      <g transform="translate(-0.5 -1.5)">
        <path class="primaryColorFill" d="M6.4,3v4.4h13.3V3H6.4 M5.3,8.5C3.5,8.5,2,10,2,11.8v6.6h4.4v4.4h13.3v-4.4h4.4v-6.6c0-1.8-1.5-3.3-3.3-3.3
H5.3 M20.8,12.9c-0.6,0-1.1-0.5-1.1-1.1c0-0.6,0.5-1.1,1.1-1.1c0.6,0,1.1,0.5,1.1,1.1C21.9,12.4,21.4,12.9,20.8,12.9 M17.5,20.7
H8.6v-5.5h8.8V20.7 M4.9,1.5h1.5h13.3h1.5V3v4c2.5,0.2,4.4,2.3,4.4,4.8v6.6V20h-1.5h-2.9v2.9v1.5h-1.5H6.4H4.9v-1.5V20H2H0.5v-1.5
v-6.6c0-2.5,1.9-4.6,4.4-4.8V3V1.5z M16,16.7h-5.8v2.5H16V16.7z" />
      </g>
    </svg>
  </button>
</div>
