<ng-container *ngIf="groupThematique!.sous_thematiques">
  <mat-accordion multi="true" class="couche-thematique">
    <mat-expansion-panel class="couche-thematique-panel"
      *ngFor="let sous_thematique of groupThematique!.sous_thematiques" expanded="true">
      <mat-expansion-panel-header class="accentColorBG" collapsedHeight="45px" expandedHeight="45px">
        <mat-panel-title>
          {{ sous_thematique.nom }} ({{ sous_thematique.couches.length }})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="margin-top: 15px;">
        <mat-selection-list (selectionChange)="coucheSelected($event)">
          <!-- <mat-list-option> -->
          <app-couche-thematique *ngFor="let couche of sous_thematique.couches" id="{{ 'couche_' + couche.key_couche }}"
            [couche]="couche"></app-couche-thematique>
        </mat-selection-list>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>

<ng-container *ngIf="!groupThematique!.sous_thematiques">
  <div>
    <mat-selection-list (selectionChange)="coucheSelected($event)">
      <!-- <mat-list-option> -->
      <app-couche-thematique *ngFor="let couche of groupThematique!.couches" id="{{ 'couche_' + couche.key_couche }}"
        [couche]="couche"></app-couche-thematique>
    </mat-selection-list>
  </div>
</ng-container>
