<div class="text-center">
  <mat-chip-list *ngIf="name" style="display: inline-table;">
    <mat-chip style="height: auto !important;" class=" black grayBG bold">
      {{name}}
    </mat-chip>
  </mat-chip-list>
</div>

<ng-container *ngIf="listAttributes && listAttributes.length > 0">
  <div class="text-center descriptive-sheet-body-header-btn " style="margin-top: 10px;">

    <button [matTooltip]="'OpenStreetMap'" mat-mini-fab class="descriptive-sheet-body-header-btn-osm" *ngIf="osmUrl"
      (click)="openUrl(osmUrl)">
      <img src="assets/icones/descriptive-sheet/Logo_mono.svg" alt="" srcset="" style="margin-top: -6px;height: 25px">
    </button>

    <ng-container *ngFor="let attribute of listAttributes;let i = index">
      <ng-container *ngIf="configTagsOsm![attribute.field] && configTagsOsm![attribute.field].header">

        <button [matTooltip]="attribute.field| translate" mat-mini-fab
          *ngIf="configTagsOsm![attribute.field].header === 'wikipedia'"
          (click)="openUrl(configTagsOsm![attribute.field].prefix + attribute.value)">
          <img src="assets/icones/descriptive-sheet/wikipedia.svg" alt="" srcset="" style="height: 25px">
        </button>

        <button [matTooltip]="attribute.field| translate" mat-mini-fab
          *ngIf="configTagsOsm![attribute.field].header === 'wikidata'"
          (click)="openUrl(configTagsOsm![attribute.field].prefix + attribute.value)">
          <img src="assets/icones/descriptive-sheet/wikidata-logo.svg" alt="" srcset="" style="height: 19px;">
        </button>

        <button [matTooltip]="attribute.field| translate" mat-mini-fab
          *ngIf="configTagsOsm![attribute.field].header === 'website'"
          (click)="openUrl(configTagsOsm![attribute.field].prefix + attribute.value)">
          <i class="fa fa-globe  accentColor" style="font-size: 20px;margin-top: -2px;" aria-hidden="true"></i>
        </button>

        <button [matTooltip]="attribute.field| translate" mat-mini-fab
          *ngIf="configTagsOsm![attribute.field].header === 'wikimedia'"
          (click)="openUrl(configTagsOsm![attribute.field].prefix + attribute.value)">
          <img src="assets/icones/descriptive-sheet/commons-logo.svg" alt="" srcset="" style="height: 25px;">
        </button>

        <button [matTooltip]=" attribute.field| translate" mat-mini-fab
          *ngIf="configTagsOsm![attribute.field].header === 'email'" (click)="alertValue( attribute.value)">
          <i class="fa fa-at  accentColor" style="font-size: 20px;margin-top: -2px;" aria-hidden="true"></i>
        </button>

        <button [matTooltip]="attribute.field| translate" mat-mini-fab
          *ngIf="configTagsOsm![attribute.field].header === 'tel'" (click)="alertValue( attribute.value)">
          <i class="fa fa-phone  accentColor" style="font-size: 20px;margin-top: -2px;" aria-hidden="true"></i>
        </button>

      </ng-container>
    </ng-container>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px;" *ngIf="adresse">
    <div fxFlex="35%" class="attribute">
      {{ 'layer_properties.adresse'| translate }}
      :
    </div>
    <div fxFlex class="attribute-value">
      {{adresse}}
    </div>
  </div>

  <ng-container *ngFor="let attribute of listAttributes;let i = index">
    <ng-container *ngIf="i <= initialNumberOfAttributes">
      <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px;"
        *ngIf="!configTagsOsm![attribute.field] || configTagsOsm![attribute.field].display">
        <div fxFlex="38%" class="attribute">
          {{ attribute.field| translate }}
          <em class="fa fa-phone" style="font-size: 10px;"
            *ngIf="configTagsOsm![attribute.field] && configTagsOsm![attribute.field].type === 'tel'"></em>
          <em class="fa fa-link" style="font-size: 10px;"
            *ngIf="configTagsOsm![attribute.field] && configTagsOsm![attribute.field].type === 'url'"></em>
          <em class="fa fa-at" style="font-size: 10px;"
            *ngIf="configTagsOsm![attribute.field] && configTagsOsm![attribute.field].type === 'email'"></em>
          <span class="attribute-two-points"> : </span>
        </div>

        <div fxFlex class="attribute-value"
          *ngIf="!configTagsOsm![attribute.field] || configTagsOsm![attribute.field].display">
          <div *ngIf="!configTagsOsm![attribute.field]" [innerHTML]="attribute.value"> </div>

          <div *ngIf="configTagsOsm![attribute.field] && configTagsOsm![attribute.field].type === 'url'">
            <a href="{{configTagsOsm![attribute.field].prefix + attribute.value}}"
              target="_blank">{{ 'layer_properties.click_url_text' | translate }} </a>
          </div>

          <div *ngIf="configTagsOsm![attribute.field] && configTagsOsm![attribute.field].type === 'tel'">
            <a href="tel:{{attribute.value}}" target="_blank">{{attribute.value}} </a>
          </div>

          <div *ngIf="configTagsOsm![attribute.field] && configTagsOsm![attribute.field].type === 'email'">
            <a href="mailto:{{attribute.value}}" target="_blank">{{attribute.value}} </a>
          </div>

          <div style="padding-left: 5px;display: flex;"
            *ngIf="configTagsOsm![attribute.field] && configTagsOsm![attribute.field].type === 'colour'">

            <span>{{attribute.value}}</span>
            <div style="height: 30px;width: 150px;display: flex;margin-left: 10px;"
              [ngStyle]="{'background-color': attribute.value}"> </div>
          </div>

          <div
            (click)="openUrl(configTagsOsm![attribute.field].prefix + attribute.value + configTagsOsm![attribute.field].surfix)"
            style="text-align: center;cursor: pointer;"
            *ngIf="configTagsOsm![attribute.field] && configTagsOsm![attribute.field].type === 'image'">
            <img style="max-width: 340px;height: auto;"
              src="{{configTagsOsm![attribute.field].prefix + attribute.value + configTagsOsm![attribute.field].surfix}}"
              alt="">
          </div>

          <div *ngIf="configTagsOsm![attribute.field] && configTagsOsm![attribute.field]?.type === 'choice'">

            <span
              *ngIf="!configTagsOsm![attribute.field]['values']![attribute.value] || configTagsOsm![attribute.field]['values']![attribute.value]['type'] === 'text'">
              {{ attribute.value | translate }} </span>

            <em class="fa fa-{{configTagsOsm![attribute.field]['values']![attribute.value]['value']}}"
              [ngStyle]="{'color':configTagsOsm![attribute.field]['values']![attribute.value]['color']}"
              *ngIf="configTagsOsm![attribute.field]['values']![attribute.value] && configTagsOsm![attribute.field]['values']![attribute.value]['type'] === 'fa' ">
            </em>
          </div>

          <div *ngIf="configTagsOsm![attribute.field] && configTagsOsm![attribute.field].type === 'boolean'">

            <em class="fa fa-check" style="color: green;" *ngIf="attribute.value==='yes' "> </em>
            <em class="fa fa-times" style="color: red;" *ngIf="attribute.value==='no' "> </em>
          </div>

          <div *ngIf="configTagsOsm![attribute.field] && configTagsOsm![attribute.field].type === 'area'">
            {{formatArea(attribute.value)}}
          </div>

        </div>
      </div>
    </ng-container>
  </ng-container>



  <ng-container *ngIf="listAttributes.length > 5">

    <a class="descriptive-sheet-body-display-attributes-number pointer"
      (click)="initialNumberOfAttributes = listAttributes.length+1"
      *ngIf="initialNumberOfAttributes < listAttributes.length">
      {{'descriptive_sheet.displayAllAttributes' | translate}}
    </a>
    <a class="descriptive-sheet-body-display-attributes-number pointer" (click)="initialNumberOfAttributes = 3"
      *ngIf="initialNumberOfAttributes >= listAttributes.length">
      {{'descriptive_sheet.displayLesAttributes' | translate}}
    </a>
  </ng-container>
</ng-container>
