<mat-card class="base-map-card">
  <div mat-card-image id="ghostMap"></div>

  <mat-card-actions *ngIf="donnePrincipalMap">
    <mat-checkbox labelPosition="before" color="primary" [checked]="donnePrincipalMap.carte.check"
      (change)="tooglePrincipalMapLayer()">
      <span style="font-weight: bold;"> {{ donnePrincipalMap.carte.nom }} </span>
    </mat-checkbox>
  </mat-card-actions>
</mat-card>

<button *ngIf="donnePrincipalMap" mat-raised-button (click)="openGroupCarteSlide(donnePrincipalMap.groupCarte)"
  class="white base-group-carte-btn" color="primary">
  {{ donnePrincipalMap.groupCarte.nom }}
</button>

<h5 class="bold primaryColor primary_transparent_bg arborescence-group"
  *ngIf="displayLabelForBibliothequeArborescence()">
  <svg style="height: 12px; vertical-align: middle" x="0px" y="0px" viewBox="0 0 16.4 16.3">
    <g transform="translate(-3033.523 514.531)">
      <path class="primaryColorFill" d="M3041.4-498.4c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3-0.1,0.4-0.1c0.1-0.1,3.4-3,3.4-6
c0-2.1-1.7-3.7-3.7-3.7c-2.1,0-3.7,1.7-3.7,3.7c0,0.6,0.1,1.1,0.3,1.6C3039-501.1,3040-499.6,3041.4-498.4z M3041.7-505.3
c0.5,0,1,0.4,1,1l0,0l0,0c0,0.5-0.4,1-1,1l0,0l0,0c-0.5,0-1-0.4-1-1l0,0C3040.8-504.9,3041.2-505.3,3041.7-505.3z" />
      <g>
        <g>
          <path class="primaryColorFill" d="M3037-504.3c0-2.5,1.9-4.5,4.4-4.7v-1.7c-2.5-1.1-5.2-1.5-7.9-1.4l1,9
c0.9-0.2,1.8-0.2,2.6-0.1C3037-503.6,3037-504,3037-504.3z" />
        </g>
      </g>
      <g>
        <path class="primaryColorFill" d="M3042.1-510.8v1.7c2.5,0.2,4.4,2.2,4.4,4.7c0,0.4,0,0.8-0.1,1.1c0.9-0.1,1.8-0.1,2.7,0.1
l1-9C3047.3-512.3,3044.6-511.8,3042.1-510.8z" />
      </g>
      <path class="primaryColorFill" d="M3035.5-512.9c0,0,4.2,0.4,5.9,1.4v-0.5c-1.7-1.4-3.8-2.2-6-2.4L3035.5-512.9z" />
      <path class="primaryColorFill" d="M3048-512.9c0,0-4.2,0.4-5.9,1.4v-0.5c1.7-1.4,3.8-2.2,6-2.4L3048-512.9z" />
    </g>
  </svg>
  {{ "left_menu.geobibliotheque" | translate }}
</h5>

<app-bibliotheque-carte (click)="openGroupCarteSlide(groupeCarte)"
  *ngFor="let groupeCarte of storageService.getAllGroupCarte()" [groupeCarte]="groupeCarte">
</app-bibliotheque-carte>

<h5 class="bold primaryColor primary_transparent_bg arborescence-group"
  *ngIf="displayLabelForBibliothequeArborescence()">
  <svg style="height: 12px" x="0px" y="0px" viewBox="0 0 17.1 15.1">
    <g id="Groupe_1936" transform="translate(0 0)">
      <path class="primaryColorFill" d="M8.2,9.7c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3-0.1,0.4-0.1c0.1-0.1,3.4-3,3.4-6
 c0-2.1-1.7-3.7-3.7-3.7C6.5,0,4.8,1.7,4.8,3.7C4.8,6.7,8,9.6,8.2,9.7z M8.5,2.8c0.5,0,1,0.4,1,1c0,0,0,0,0,0c0,0.5-0.4,1-1,1
 c0,0,0,0,0,0c-0.5,0-1-0.4-1-1c0,0,0,0,0,0C7.6,3.2,8,2.8,8.5,2.8C8.5,2.8,8.5,2.8,8.5,2.8z" />
      <path class="primaryColorFill" d="M15.7,9.7l-0.4-1.5c-0.1-0.2-0.3-0.4-0.6-0.4h-3.1c-0.1,0.2-0.2,0.3-0.4,0.5
 c-0.5,0.7-1.2,1.4-1.8,2c-0.3,0.2-0.6,0.3-0.9,0.3c-0.3,0-0.7-0.1-0.9-0.3C7,9.7,6.3,9,5.8,8.3C5.7,8.1,5.5,7.9,5.4,7.8H2.3
 c-0.3,0-0.5,0.2-0.6,0.4L1.3,10l11.5,2.1L15.7,9.7z" />
      <path class="primaryColorFill" d="M17.1,14.4L16,10.5l-5.5,4.6h6c0.3,0,0.6-0.3,0.6-0.6C17.1,14.5,17.1,14.4,17.1,14.4
 L17.1,14.4z" />
      <path class="primaryColorFill"
        d="M2.8,11.1l-1.8-0.3l-1,3.6c0,0.2,0,0.4,0.1,0.5c0.1,0.1,0.3,0.2,0.5,0.2h2.2L2.8,11.1z" />
      <path class="primaryColorFill" d="M3.6,11.2v3.9h5.6l2.8-2.3L3.6,11.2z" />
    </g>
  </svg>

  {{ "left_menu.geothematiques" | translate }}
</h5>

<div style="margin-top: 20px" *ngIf="!displayLabelForBibliothequeArborescence()"></div>

<div class="arborescence-groupe-thematique" *ngFor="
    let groupThematique of storageService.getAllGroupThematiques()
      | sortBy: 'asc':'ordre'
  ">
  <app-groupe-thematique (click)="openGroupThematiqueSlide(groupThematique)" class="pointer"
    [groupThematique]="groupThematique"></app-groupe-thematique>
</div>
