<div class="export-data-loading">
  <div style="position: absolute; top: calc(50% - 50px); left: 45%">
    <div class="loadingio-spinner-spinner-tcavths9hy">
      <div class="ldio-qrmvwweyigc">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>

<div class="description_download text-center">
  {{ 'dowload_data.description' | translate }}
</div>

<ng-container *ngIf="formsLayers">

  <h5 class="bold primaryColor primary_transparent_bg group-download ">
    {{ 'dowload_data.title_data_in' | translate }}
  </h5>


  <form [formGroup]="formsLayers" class="form-download-select-layers">
    <div formArrayName="layers" *ngFor="let layer of getAllControls(); let i = index">
      <div [formGroupName]="i" style="margin-bottom: 10px;">
        <mat-form-field appearance="outline">
          <mat-label> {{'dowload_data.title_choose_layer'|translate}} </mat-label>
          <input type="text" matInput formControlName="layer" [matAutocomplete]="auto" style="text-align: left;">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayAutocompleLayerstFn"
            (optionSelected)="layerSelected($event)">
            <mat-option *ngFor="let option of filteredLayersOptions[i] | async" [value]="option">
              {{option.name}}
              <br>
              <small> {{option.description}} </small>
            </mat-option>
          </mat-autocomplete>
          <em class="fa fa-trash primaryColor pointer" matSuffix style="transform: translateY(-4px);"
            (click)="removeInputInFormsLayer(i)"></em>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="download-layers-data-in-btn">

  </div>

  <h5 class="bold primaryColor primary_transparent_bg group-download">
    {{ 'dowload_data.title_choose_emprise' | translate }}
  </h5>

  <mat-slide-toggle style="margin-top: 10px;margin-bottom: 15px;" (change)="toogleRoiType($event)" color="primary"
    [matTooltip]="'right_menu.download_data.downloadCompleteDataTooltip' | translate "
    *ngIf="configProject!.limites.length > 0"> {{ 'right_menu.download_data.downloadCompleteData' | translate }}
  </mat-slide-toggle>

  <form [formGroup]="formsEmprise!" *ngIf="configProject!.limites.length > 0 && downloadModel.roiType === 'emprise' ">
    <mat-form-field appearance="outline">
      <mat-label> {{'dowload_data.title_choose_one_emprise'|translate}} </mat-label>
      <input type="text" matInput formControlName="emprise" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayAutocompleEmpriseFn"
        (optionSelected)="empriseSelected($event)">
        <mat-option *ngFor="let option of filterEmpriseOptions " [value]="option">
          {{option.name}}
          <br>
          <small *ngIf="option.ref"> {{option.ref}} - </small>
          <small> {{option.limitName}} </small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>



  <button class="submit-download-data primaryColorBG" (click)="generateExport()"
    matTooltip="{{ 'dowload_data.calculate' | translate }}" [disabled]="!enableDownloadBtn()" mat-mini-fab>

    <svg style="height: 32px;" x="0px" y="0px" viewBox="0 0 22 22.2">
      <g id="Tracé_1915">
        <path class="whiteFill" d="M18.3,22.2l-3.4-3.7c-3.3,1.9-7.3,1.8-10.5-0.3c-2.2-1.5-3.7-3.7-4.2-6.3c-0.5-2.6,0-5.3,1.5-7.5
c3-4.6,9.2-5.8,13.8-2.8c4.4,2.9,5.7,8.8,3.1,13.3l3.4,3.6L18.3,22.2z M15.2,16.6l3.2,3.5l1.5-1.5l-3.3-3.4l0.3-0.5
c2.6-3.9,1.5-9.1-2.3-11.7C10.8,0.3,5.5,1.4,2.9,5.3c-1.3,1.9-1.7,4.1-1.3,6.3s1.7,4.1,3.6,5.4c2.9,1.9,6.6,1.9,9.4,0L15.2,16.6z
M9.9,16.1c-3.4,0-6.2-2.8-6.2-6.2c0-3.4,2.8-6.2,6.2-6.2c3.4,0,6.2,2.8,6.2,6.2C16.1,13.4,13.4,16.1,9.9,16.1L9.9,16.1z M9.9,5.2
c-2.6,0-4.7,2.1-4.7,4.7c0,2.6,2.1,4.7,4.7,4.7c2.6,0,4.7-2.1,4.7-4.7C14.6,7.4,12.5,5.2,9.9,5.2z" />
      </g>
    </svg>

  </button>

</ng-container>

<div style="background-color: white; padding: 10px;position: fixed;bottom: 0px;text-align: center;">
  <p style="color: rgba(0, 0, 0, 0.7);font-style: italic;    font-size: 12px;">
    {{ 'updatebd' | translate }} {{lastSaturday.format("dddd DD-MM-YYYY ")}}, 23h50
  </p>
  <img src="assets/icones/osm.svg" width="25px" alt="" style="    vertical-align: middle;">
  {{ 'geosm.text' | translate }} {{ 'geosm.text1' | translate }} <a href="https://www.openstreetmap.org" target="_blank"
    rel="noopener noreferrer">
    OpenStreetMap </a>
</div>

<div id="downlod-list-overlays" #downlod_list_overlays style="display: flex;">

</div>
