@import "../../styles/theme.scss";
$height: calc(100% - 60px);

.loading-apps {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 99999999999;
}

.sidenav-container {
  width: 100%;
  height: $height;
}

.sidenav-left {
  width: 265px;
  padding: 5px;
  border: none !important;

  app-vertical-page-secondaire {
    position: absolute;
    left: -265px;
    top: 0px;
    bottom: 0px;
    width: 265px;
    transition: 0.5s;
    background: #fff;
    z-index: 9;
    overflow-y: auto;
  }
}

.sidenav-content {}

.sidenav-content-toolbar {
  position: absolute;
  bottom: 0px;
  top: 0px;
  width: 60px;
  left: 0px;
  overflow: hidden;
  background: url('/assets/icones/bandeau-GEOSM.svg');
  background-position-y: center;
}

.sidenav-right {
  width: 219px;

  .sidenav-right-content {
    padding: 5px;
    padding-top: 20px;
  }

  .sidenav-right-title {
    background-color: $primary_transparent_bg;
    color: $primary_color;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 0px;
    font-weight: bold;
    position: fixed;
    width: 218px;
    z-index: 2;
    top: 60px;
    right: 0px;
    height: 20px;
  }

  .sidenav-right-title-fake {
    height: 20px;
  }

  app-download {
    padding-bottom: 140px;
  }
}

.toogle-sidenav-right {
  position: absolute;
  right: 0px;
  top: 40px;
  width: 65px;

  ::ng-deep .mat-badge-content {
    left: 39px !important;
    top: -6px !important;
  }
}
