<div class="loading-apps">
  <div style="position: absolute; top: calc(50% - 50px); left: 45%">
    <div class="loadingio-spinner-spinner-tcavths9hy">
      <div class="ldio-qrmvwweyigc">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div style="margin-left: -90px; margin-top: -25px" class="primaryColor">
      {{ "loading.loading_catalog" | translate }}
    </div>
  </div>
</div>
<app-header></app-header>

<mat-sidenav-container class="sidenav-container" #sidenavContainer>
  <mat-sidenav class="sidenav-left" opened mode="side" position="start">
    <app-vertical-page-principal></app-vertical-page-principal>
    <app-vertical-page-secondaire></app-vertical-page-secondaire>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <app-vertical-toolbar [sidenavContainer]="sidenavContainer" class="sidenav-content-toolbar whiteBG">
    </app-vertical-toolbar>
  </mat-sidenav-content>

</mat-sidenav-container>
