<div class="loading-apps">
  <div style="position: absolute; top: calc(50% - 50px); left: 45%">
    <div class="loadingio-spinner-spinner-tcavths9hy">
      <div class="ldio-qrmvwweyigc">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div style="margin-left: -90px; margin-top: -25px" class="primaryColor">
      {{ "loading.loading_catalog" | translate }}
    </div>
  </div>
</div>
<app-header></app-header>

<mat-sidenav-container class="sidenav-container" #sidenavContainer>
  <mat-sidenav class="sidenav-left" opened mode="side" position="start">
    <app-vertical-page-principal [map]="getMap()"></app-vertical-page-principal>
    <app-vertical-page-secondaire></app-vertical-page-secondaire>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">

    <div id="map" (contextmenu)="
        rightMenuClick ? rightMenuClick.setRightClickPixel($event) : undefined
      " [shAttachMenu]=" rightMenuClick?.menu!" [shMenuData]="rightMenuClick ? rightMenuClick.listItems : []">
      <div id="scale-map"></div>
      <div id="mouse-position-map"></div>

      <div id="mly"></div>
      <div id="mapi"></div>

      <input id="swipe" type="range"
        style="background: transparent;width: 100%; z-index: 9999999999999999999999;  position: absolute;top: 45%;display: none;">

      <div id="setCoordOverlay" style="display:none">
        <button mat-mini-fab color="primary" (click)="close_setCoordOverlay()" matTooltip="Supprimer">
          <em class="fas fa-times fa-lg" style="color:#fff;display:none"></em>
        </button>
      </div>

      <div id="notifications">
        <div class="text-center" id="spinner_loading">
          <div class="lds-ripple">
            <div style="background-color: #fff;"></div>
            <div style="background-color: #fcfcfc;"></div>
          </div>
        </div>
      </div>

      <div id="coord_caracteristics" style="display:none;margin-top: -20px;margin-left: -20px;">
        <button mat-mini-fab color="primary" (click)="rightMenuClick?.close_caracteristique()" matTooltip="Fermer">
          <em class="fas fa-times fa-lg" style="color:#fff;display:none"></em>
          <em class="fas fa-dot-circle fa-lg" style="color:#fff;"></em>
        </button>
      </div>

      <div id="popup_mapillary" class="back_white popup">
        <div class="popover top"
          style="border-radius: 15px;display: block; top: -140px; left: -100px;text-align: center;padding: 6px;">
          <div class="arrow " style="left: 57%;"></div>
          <div class="popover-content" style="  padding: 0px;">
            <div class="ol-unselectable">
              <div>
                <img src="" id="img_mappilary" style="  height: 120px;width: 160px;  border-radius: 6px;" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <app-vertical-toolbar [zone]="zone" [modeCompare]="modeCompare" [modeMapillary]="modeMapillary" [map]="getMap()"
      [dialog]="dialog" [sidenavContainer]="sidenavContainer" class="sidenav-content-toolbar whiteBG">
    </app-vertical-toolbar>


    <div class="toogle-sidenav-right">
      <ng-container *ngFor="let ritghtMenu_i of ritghtMenus">
        <button [matBadge]="getBadgeLayers(ritghtMenu_i.name)" matBadgePosition="before" matBadgeColor="accent"
          class="toogle-sidenav-right-button" *ngIf="ritghtMenu_i.enable" (click)="openRightMenu(ritghtMenu_i.name)"
          [matTooltip]="
            'right_menu.button.' + [ritghtMenu_i.tooltip] | translate
          " mat-raised-button color="primary" style="width: 100%; border-radius: 0px" [ngClass]="{
            primaryColorBG: !ritghtMenu_i.active,
            whiteBG: ritghtMenu_i.active
          }">
          <svg x="0px" y="0px" viewBox="0 0 23.4 24.8" style="width: 21px" *ngIf="ritghtMenu_i.name === 'toc'">
            <path [ngClass]="{
                primaryColorFill: ritghtMenu_i.active
              }" d="M11.7,0L0,9.1l2.1,1.7l9.6,7.5l9.6-7.5l2.1-1.7L11.7,0z M11.7,21.5l-9.6-7.5L0,15.7l11.7,9.1
l11.7-9.1l-2.1-1.7L11.7,21.5z" fill="#fff" />
          </svg>

          <svg x="0px" y="0px" viewBox="0 0 20.8 20.8" style="width: 21px" *ngIf="ritghtMenu_i.name === 'edition'">
            <path [ngClass]="{
                primaryColorFill: ritghtMenu_i.active
              }" d="M0,16.5v4.3h4.3L17.1,8l-4.3-4.3L0,16.5z M20.5,4.7c0.4-0.4,0.5-1.2,0-1.6c0,0,0,0,0,0
l-2.7-2.7c-0.4-0.4-1.2-0.5-1.6,0c0,0,0,0,0,0L14,2.5l4.3,4.3L20.5,4.7L20.5,4.7z" fill="#fff" />
          </svg>

          <svg style="width: 22px" x="0px" y="0px" viewBox="0 0 23.1 23.4" *ngIf="ritghtMenu_i.name === 'routing'">
            <path [ngClass]="{
                primaryColorFill: ritghtMenu_i.active
              }" fill="#fff" d="M3.9,15.6c-2.2,0-3.9,1.7-3.9,3.9s1.7,3.9,3.9,3.9s3.9-1.7,3.9-3.9c0,0,0,0,0,0
C7.8,17.3,6,15.6,3.9,15.6z M3.9,21.1c-0.9,0-1.6-0.7-1.6-1.6s0.7-1.6,1.6-1.6c0.9,0,1.6,0.7,1.6,1.6c0,0,0,0,0,0
C5.5,20.4,4.8,21.1,3.9,21.1L3.9,21.1z M19.2,0.4c-2.2,0-3.9,1.7-3.9,3.9s1.7,3.9,3.9,3.9c2.2,0,3.9-1.7,3.9-3.9
C23.1,2.2,21.4,0.4,19.2,0.4L19.2,0.4z M19.2,6c-0.9,0-1.6-0.7-1.6-1.6s0.7-1.6,1.6-1.6c0.9,0,1.6,0.7,1.6,1.6
C20.9,5.2,20.1,6,19.2,6L19.2,6z M20.6,11.5l0,6.8c-0.1,2.8-2.5,4.9-5.3,4.8c-2.6-0.1-4.6-2.2-4.8-4.8V4.8C10.4,3.2,9,2.1,7.5,2.3
C6.2,2.5,5.1,3.5,5,4.8l0,9.6l-2.3,0l0-9.6C2.9,2,5.2-0.1,8,0c2.6,0.1,4.7,2.2,4.8,4.8v13.6c0.2,1.5,1.6,2.6,3.1,2.5
c1.3-0.1,2.3-1.2,2.5-2.5l0-6.8L20.6,11.5z" />
          </svg>

          <em class="fas fa-th-list fa-lg" *ngIf="ritghtMenu_i.name === 'legend'" [ngClass]="{
              white: !ritghtMenu_i.active,
              primaryColor: ritghtMenu_i.active
            }"></em>

          <em class="fas fa-download fa-lg" *ngIf="ritghtMenu_i.name === 'download'" [ngClass]="{
              white: !ritghtMenu_i.active,
              primaryColor: ritghtMenu_i.active
            }"></em>
        </button>
      </ng-container>
    </div>

  </mat-sidenav-content>

  <mat-sidenav class="sidenav-right" closed mode="side" position="end">
    <div class="sidenav-right-title" *ngIf="getRightMenuActive()">
      {{ "right_menu." + getRightMenuActive()?.title + ".title" | translate }}
      <span [hidden]="!getRightMenu('toc')?.active">
        ({{ layersInToc.length }})
      </span>
    </div>
    <div class="sidenav-right-title-fake"></div>
    <div class="sidenav-right-content">
      <app-active-layers [modeMapillary]="modeMapillary" [map]="getMap()" [hidden]="!getRightMenu('toc')?.active">
      </app-active-layers>
      <app-map-tools [map]="getMap()" [hidden]="!getRightMenu('edition')?.active">
      </app-map-tools>
      <app-routing [map]="getMap()" [hidden]="!getRightMenu('routing')?.active"></app-routing>
      <app-legends [map]="getMap()" [hidden]="!getRightMenu('legend')?.active"></app-legends>
      <app-download [hidden]="!getRightMenu('download')?.active"></app-download>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
<app-right-menu-click [dialog]="dialog" [map]="getMap()"></app-right-menu-click>
