<ng-container *ngIf="activeGroup">
  <div class="sidenav-left-second-header-ghost"></div>
  <div class=" black sidenav-left-second-header white" [ngClass]="{'primaryColorBG': !activeGroup.color}"
    [ngStyle]="{'background-color': activeGroup.color}">

    <em fxFlex="20px" class="fa fa-angle-left fa-lg white pointer " (click)="close()"></em>

    <img fxFlex="25px" class="sidenav-left-second-header-img" src="{{activeGroup.img}}" alt="">

    <h5 fxFlex class="bold  white sidenav-left-second-header-title" matTooltip="{{activeGroup.nom}}">
      {{activeGroup.nom}}</h5>

  </div>
  <app-liste-thematique class="scroll" *ngIf="groupThematique!" [groupThematique]="groupThematique">
  </app-liste-thematique>
  <app-groupe-carte class="scroll" *ngIf="groupCarte!" [groupCarte]="groupCarte"></app-groupe-carte>
</ng-container>
