<h1 mat-dialog-title class="accentColorBG white" cdkDrag cdkDragRootElement=".cdk-overlay-pane"
  style="position: relative;">
  <div class="descriptive-sheet-header-ghost" cdkDragHandle></div>
  <img [src]="imgSrc" alt="" srcset="" class="icon_header" style="margin-top: 4px;;height: 25px;">
  <em class="fa fa-times-circle close" (click)="closeModal()"></em>
  <em class="fa fa-arrows-alt white" style="font-size:20px" aria-hidden="true"></em>

  {{ descriptiveModel.layer.nom}}
</h1>

<div mat-dialog-content style="padding-top: 5px;max-height: 250px !important;" class="scroll">
  <app-osm-sheet *ngIf="descriptiveModel.type === 'osm'" [descriptiveModel]="descriptiveModel"
    (updatemMdelDescriptiveSheet)="setSescriptiveModel($event)" (closeDescriptiveSheet)="closeModal()"></app-osm-sheet>
</div>

<div mat-dialog-actions class="text-center">
  <button mat-raised-button (click)="shareFeature()">
    <em class="fa fa-share-alt"> </em> {{'descriptive_sheet.share' | translate}}
  </button>

  <button mat-raised-button *ngIf="descriptiveModel.geometry" (click)="zoomOnFeatureExtent()">
    <em class="fa fa-search-plus"> </em> {{'descriptive_sheet.zoomTo' | translate}}
  </button>

</div>
